* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.main {
    background-image: url(bgi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 493.29px;
}

.main__name {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 217.1px;
}

.main__text {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-top: 32px;
    padding-bottom: 44px;
}

.main__text_accent {
    font-weight: 700;
}

.main__button {
    width: 234.063px;
    height: 48.603px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #9C0332;
    border: none;
    color: #FFF;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.3s;
    cursor: pointer;
}

.main__button:hover {
    color: #FFF;
    background-color: #EB443F;
  }

.game {
    background-color: #000915;
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 32px;
}

.game__link {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    text-decoration: none;
}

.game__img {
    width: 379px;
    height: 300px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.game__img_1 {
    background-image: url(game1.png);
}
.game__img_2 {
    background-image: url(game2.png);
}
.game__img_3 {
    background-image: url(game3.png);
}

.game__img:hover {
    outline: 3px solid #44D2FF;
}

.game__text {
    position: absolute;
    left: 32px;
    bottom: 32px;
}

.game__start {
    background-color: #000915;
    display: flex;
    padding-top: 282px;
    justify-content: space-between;
    padding-bottom: 233.5px;
}

.game__start_name {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.game__start_box {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 584px;
}

.game__start_text {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}

.game__start_img_mob {
    display: none;
}

@media (max-width: 1439px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main {
        text-align: center;
    }

    .game {
        justify-content: center;
    }
    
    .game__img {
        width: 250px;
        height: 200px;
    }

    .game__text {
        left: 20px;
        bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .game {
        justify-content: center;
    }

    .game__img {
        width: 225px;
        height: 150px;
    }

    .game__start_img {
        display: none;
    }

    .game__start_name {
        font-size: 32px;
    }

    .game__start_text {
        font-size: 16px;
    }

    .game__start_img_mob {
        display: block;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main {
        text-align: center;
        padding-bottom: 238.69px;
    }
    .main__name {
        padding-top: 238.69px;
        font-size: 32px;
    }

    .main__text {
        font-size: 14px;
        line-height: 22px;
        padding-top: 32.95px;
        padding-bottom: 32.95px;
    }

    br {
        display: none;
    }

    .game {
        flex-wrap: wrap;
        gap: 32.29px;
        padding-top: 128px;
        padding-bottom: 127.87px;
    }

    .game__img {
        width: 343px;
    }

    .game__start {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 51px;
    }

    .game__start_box {
        width: 343px;
        align-items: center;
    }
    
    .game__start_name {
        font-size: 32px;
    }

    .game__start_text {
        font-size: 14px;
    }

    .game__start_img {
        display: none;
    }

    .game__start_img_mob {
        display: block;
        padding-top: 64px;
    }
}